.center {
  display: inline-block;
  width: 40vw;
  margin-bottom: 10px ;
}

.result {
  border-radius: 0px;
  border-width: 1px;
  border-color: #e0e0e0;
  box-shadow: 0px 1px #f0f0f0;
  width: 40vw;
  height: 30px;
  border-style: solid;
}

.resultText {
  color: black;
  margin-top: 4px;
  margin-left: -25px;
}

.logo {
  margin-top: -1px;
  margin-bottom: 4px;
  max-height: 24px;
  max-width: 24px;
}
